@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.btn:hover {
  transform: scale(1.05);
}

@layer utilities {
  .pause-animation {
    animation-play-state: paused;
  }
}
